 <?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD9jIHzs9BM8NdktYl9hvmWUKZ5rBlfBrc</string>
	<key>GCM_SENDER_ID</key>
	<string>142861545293</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.twende.driver</string>
	<key>PROJECT_ID</key>
	<string>aletwende</string>
	<key>STORAGE_BUCKET</key>
	<string>aletwende.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:142861545293:ios:6fab4aaa929c2bb1e19104</string>
	<key>DATABASE_URL</key>
	<string>https://aletwende-default-rtdb.firebaseio.com</string>
</dict>
</plist>